/*
 *         IMPORTANT! 
 * You must always purge the CDN cache when updating this file!
 * Browse to this URL:
 * https://purge.jsdelivr.net/gh/fiworks/cdn@main/css/thoughtspot-embed.css
 */

:root 
{
    --ts-var-root-font-family: 'Inter', Helvetica, Arial, sans-serif;
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.2.8/files/inter-latin-300-normal.woff2') format('woff2');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.2.8/files/inter-latin-400-normal.woff2') format('woff2');
}

@font-face
{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.2.8/files/inter-latin-400-italic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.2.8/files/inter-latin-500-normal.woff2') format('woff2');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.2.8/files/inter-latin-600-normal.woff2') format('woff2');
}

@font-face 
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.2.8/files/inter-latin-700-normal.woff2') format('woff2');
}

body
{
    font-variant-numeric: tabular-nums !important;    
}

/* Liveboards - Headers and liveboard names in grid. */
.pinboard-header-module__headerTitleCompact,
.typography-module__content-label-subhead
{
    font-weight: 500;
}

/* Filters */
.chip-base-module__chipText.chip-base-module__bold
{
    font-weight: 600;
}

/* Tables. */
.table-module__fullContainer,
.bk-outline .ag-theme-alpine,
.bk-outline .ag-theme-alpine .ag-cell
{
    font-family: var(--ts-var-root-font-family) !important;
    font-variant-numeric: tabular-nums !important;
}
